<div class="form-container" *ngIf="formData">
  <div class="logo"></div>
  <span class="title">{{ formData?.title }}</span>
  <form [formGroup]="loginForm" autocomplete="off">
    <div class="mt-0">
      <fieldset id="login-body" class="col-sm-12">
        <div *ngFor="let form_elem of formData.fields">
          <div [ngSwitch]="form_elem.type">
            <div *ngSwitchCase="'TEXT'">
              <app-input [type]="'text'" [formData]="form_elem" [form]="loginForm" [submitted]="submitted"></app-input>
            </div>
            <div *ngSwitchCase="'PASSWORD'">
              <app-input [type]="'password'" [formData]="form_elem" [form]="loginForm" [submitted]="submitted">
              </app-input>
            </div>
          </div>
        </div>
        <button class="submit" type="submit" id="loginbtn" (click)="checkValidity(loginForm)">
          {{ "login" | translate }}
        </button>

        <div class="options">
          <div>
            <span>{{ "forgot password" | translate }}</span>
            <span>
              |
            </span>
            <span>{{ "sign up" | translate }}</span>
          </div>
          <span>{{ "Mfa update" | translate }}</span>
        </div>
      </fieldset>
    </div>
  </form>
  <div *ngIf="selectlanguage == 'fa'; else farsiBlock" class="language" (click)="changeLanguage('en')">
    EN
  </div>
  <ng-template #farsiBlock>
    <div class="language" (click)="changeLanguage('fa')">FA</div>
  </ng-template>
</div>