@font-face {
  font-family: iransans;
  src: url("../../fonts/iransans/IRANSans.woff");
}
body,
input::placeholder,
button {
  font-family: iransans;
}
.main-container {
  display: flex;
  direction: var(--direction);
  align-items: center;
  height: 100vh;
  padding: 0 11%;
}
.form-container {
  width: 360px;
  min-height: 470px;
  height: 70vh;
  max-height: 600px;
  min-width: 320px;
  background-color: white;
  border-radius: 15px;
  padding: 32px 16px;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.logo {
  width: 100px;
  height: 100px;
  box-shadow: 0px 2px 5px 0px rgb(100 99 99 / 18%);
  border-radius: 50%;
  margin: 0 auto 32px auto;
}
.title {
  font-size: 16px;
  color: #707070;
  margin-bottom: 16px;
  display: inline-block;
}
input {
  width: 100%;
  height: 48px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 0 16px;
  font-size: 14px;
  &:focus {
    border: 2px solid var(--primaryColor);
  }
}
input::placeholder {
  font-size: 14px;
  color: #bdbdbd;
  text-align: right;
}
.submit {
  background-color: var(--primaryColor);
  color: white;
  width: 100%;
  height: 48px;
}
.options {
  font-size: 0.8rem;
  color: #757575;
  margin-top: 30px;
  span:hover {
    color: var(--primaryColor);
    cursor: pointer;
  }
  & > span {
    margin-top: 4px;
    display: inline-block;
  }
  & > div {
    display: flex;
    justify-content: space-evenly;
    & > span {
      line-height: 40px;
    }
  }
}
.language {
  width: 30px;
  height: 30px;
  border: 2px solid var(--primaryColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primaryColor);
  margin: 25px auto 20px auto;
  cursor: pointer;
  &:hover {
    background-color: var(--primaryColor);
    color: white;
  }
}

.input-container {
  position: relative;
}

.tooltip {
  background-color: var(--primaryColor);
  color: white;
  box-shadow: 0px 2px 5px 0px rgb(100 99 99 / 38%);
  border-radius: 4px;
  position: absolute;
  height: 40px;
  width: auto;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  top: 0;
  right: 103%;
  min-width: 140px;
  padding: 8px 2%;
  box-sizing: border-box;
  flex-wrap: wrap;
  & > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--primaryColor);
    transform: rotate(45deg);
    top: 15px;
    left: 97%;
    box-shadow: 4px -3px 10px 0px rgb(100 99 99 / 23%);
  }
}
@media screen and (max-width: 520px) {
  .main-container {
    padding: 0;
  }
  .form-container {
    border-radius: 0;
    width: unset;
    min-width: unset;
    height: 100vh;
    max-height: unset;
  }
  generate-template {
    width: 100%;
    margin: auto;
  }
  .tooltip {
    background-color: #757575;
    color: white;
    height: 46px;
    justify-content: center;
    top: 54px;
    right: 0;
    width: 100%;
    z-index: 1;
    & > span {
      background-color: #757575;
      top: -4px;
      left: 50%;
    }
  }
}
